body {
	width:100%;
	margin:auto;
}

button {
	background-color: #fff;
	border-radius: 4px;
	margin-bottom:0.3rem;
	padding:5px 15px 5px 15px;
	border:none;
	text-indent: center;
	display: inline-block;
	font-size: .9rem;
}

#top {
	background-color: #EEF0F2;
	border-radius: 0 0 20px 20px;
}

.button {
	width: 9rem;
	border:none;
}

#graph_area {
	background-color: #24478f;
	border-radius:20px;
	padding: 2rem 4rem 4rem 4rem;
	max-width: 1200px;
	margin:auto;
	margin-top: 0;
}

#columns {
	margin-top: 3rem;
	margin-bottom: 3rem;
}

#prevod {
	max-width: 500px;
}

#graph {
	max-width:1000px;
	height: 400px;
	margin:1rem auto;
	border-radius:10px;
	margin-bottom: 2rem;
}

#graph2 {
	margin-top: 6rem;
}

.title {
	color:#fff;
}

#ethusd, #btcusd {
	border-radius: 10px;
	margin:auto;
	width:100%;
	height:100%;
}

#BTC {
	background-color: #f2f2f2;
	border-radius: 20px;
}

#BTC p {
	background-color: #fff;
	border-radius: 4px;
}

#EUR {
	background-color: #f2f2f2;
	border-radius: 20px;
}

.footer {
	margin-top:3rem;
	padding: 48px;
}

.btn {
  width: 3rem;
  margin-bottom: 0.3rem;
  border: 2px solid #155799;
  padding: 6px 6px;
  font-size: 1.15em;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000;
  background-color: #F1F2F2;
  transition: all 0.25s ease-in-out;
}
.btn:hover {
  background-color: #8080ff;
  border-color: #155799;
  color: #F1F2F2;
}
.btn:active {
  background-color: #8080ff;
  border-color: #155799;
  color: #F1F2F2;
  box-shadow: none;
}
.btn:focus, .btn:active:focus {
  background-color: #8080ff;
  border-color: #155799;
  color: #F1F2F2;
  outline: 5px auto #155799;
}
.btn:visited {
  background-color: #8080ff;
  border-color: #155799;
}

.btn-secondary {
  width: 250px;
  margin: 10px;
  border: 2px solid #F2994A;
  padding: 6px 24px;
  font-size: 1.15em;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #F2994A;
  background-color: #F1F2F2;
  transition: all 0.25s ease-in-out;
}
.btn-secondary:hover {
  background-color: #8080ff;
  border-color: #F2994A;
  color: #F1F2F2;
}
.btn-secondary:active {
  background-color: #8080ff;
  border-color: #F2994A;
  color: #F1F2F2;
  box-shadow: none;
}
.btn-secondary:focus, .btn-secondary:active:focus {
  background-color: #8080ff;
  border-color: #F2994A;
  color: #F1F2F2;
  outline: 5px auto #F2994A;
}
.btn-secondary:visited {
  background-color: #F2994A;
  border-color: #F2994A;
}

.zoom {
  transition: transform .2s; 
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.4); 
}